@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



/* -------------------- Font Mixins -------------------- */
@mixin navText {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

@mixin navTextBold {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

@mixin Title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

@mixin subTitle {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

@mixin Text {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

@mixin packagesText {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

@mixin fontSet($size: 1rem, $align: left, $color: black){
	font-size: $size;
	text-align: $align;
	color: $color;
};

/* -------------------- Pseudo Mixins -------------------- */
@mixin pseudo ($content: '', $display: block, $position: absolute) {
	content: $content;
	display: $display;
	position: $position;
}; 


@mixin shadow(){
	box-shadow: 0 8px 8px 0 rgba(216, 224, 237, 0.5);
}

@mixin btnShadow(){
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin transition(){
	transition: all .5s ease;
}
/* -------------------- Background Image Function -------------------- */
@each $name in 'benefit__growth', 'benefit__comments', 'benefit__discount' {
	.#{$name} {
		background: url('../fonts/../images/#{$name}.svg') no-repeat;
		display: block;
		background-size: contain;
	}
};

//packages on landing
// @each $name in 'commentsPackage1', 'commentsPackage2', 'commentsPackage3','commentsPackage4',
// 'likesPackage1', 'likesPackage2', 'likesPackage3','likesPackage4',
// 'followersPackage1', 'followersPackage2', 'followersPackage3','followersPackage4',
// 'automaticPackage1', 'automaticPackage2', 'automaticPackage3','automaticPackage4',
// 'freeTrialPackage1', 'freeTrialPackage2', 'freeTrialPackage3','freeTrialPackage4' {
// 	.#{$name} {
// 		background: url('../fonts/../images/#{$name}.svg') no-repeat;
// 		display: block;
// 		background-size: contain;
// 	}
// };




@each $name in 'stats--comment', 'stats--people', 'stats--activity' {
	.#{$name} {
		background: url('../fonts/../images/#{$name}.svg') no-repeat;
		display: block;
		background-size: contain;
	}
};

// buyProcess
@each $name in 'card__icon--heart', 'card__icon--comment', 'card__icon--view' {
	.#{$name} {
		background: url('../fonts/../images/#{$name}.svg') no-repeat;
		display: block;
		background-size: contain;
	}
};


@each $name in 'card__btn--edit', 'card__btn--refresh', 'card__btn--delete'{
	.#{$name} {
		background: url('../fonts/../images/#{$name}.svg') no-repeat;
		display: block;
		background-size: contain;
	}
};

/* -------------------- Placeholder selectors -------------------- */
