/* -------------------- Font Mixins -------------------- */
@mixin navText {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

@mixin Title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

@mixin Text {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

@mixin packagesText {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

@mixin fontSet($size: 1rem, $align: left, $color: black){
	font-size: $size;
	text-align: $align;
	color: $color;
};

/* -------------------- Pseudo Mixins -------------------- */
@mixin pseudo ($content: '', $display: block, $position: absolute) {
	content: $content;
	display: $display;
	position: $position;
}; 

/* -------------------- Background Image Function -------------------- */
@each $name in 'icon__comment', 'icon__chat', 'icon__support' {
	.#{$name} {
		background: url('../images/#{$name}.svg') no-repeat;
		display: block;
		background-size: contain;
	}
};

@each $name in 'stepOne', 'stepTwo', 'stepThree' {
	.#{$name} {
		background: url('../images/#{$name}.svg') no-repeat;
		display: block;
		background-size: contain;
	}
};


/* -------------------- Placeholder selectors -------------------- */
/* -------------------- Mediaqueries -------------------- */

// @media (min-width: 768px) and (max-width: 979px) {

// }

// @media (min-width: 550px) and (max-width: 767px) {

// }

// @media (min-width: 450px) and (max-width: 549px){

// }


// @media screen and (max-width: 449px) {

// }