/* -------------------- Packages Page -------------------- */

.packages__wrapper	{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: $benefitBg;
	padding: 2rem 0rem;

	.packages__intro {
		display: flex;
		justify-content: center;
		flex-direction: column;
		@include Text();
		@include fontSet(2rem, left, $Text);
		margin: 0rem auto;
		font-size: 1.6rem;

		&--text {
			margin: 0rem .3rem;
			display: block;
		}

		&--text:first-child {
			display: flex;
			font-size: 1.5rem;
			width: 100%;
			margin: 1rem auto;
		}


		&--text:last-child {
				width: 100%;
				margin: 0rem auto;
				text-align: center;
		}
		
		&--icon {
			display: block;
			width: 1rem;
			height: 1rem;
			background: url('../images/timeIcon.svg') no-repeat;
			background-size: contain;
			margin: 0rem 0.5rem;
			padding: .3rem;
		}

		&--highlight {
			font-weight: bold;
			color: $iconColor;
			margin-left:  .5rem;
		}
	}

	.packages {
		display: flex;
		justify-content: center;
		padding: 1rem 2rem;
		flex-direction: column;	



		.package {
			display: flex;
			flex-direction: column;
			justify-content: center;
			border: 1px solid #E0E0E0;
			border-radius: .5rem;
			width: 100%;
			margin: 1rem 0rem;
			@include shadow();
			
			&__name {
				@include navText();
				@include fontSet(2rem, center, black);
				letter-spacing: .3rem;
				padding: 2rem 3rem;
				text-transform: uppercase;
			}

			&__price {
				@include navText();
				@include fontSet(5rem, center, black);
				letter-spacing: .1rem;
				padding: 2.5rem 3rem;
				display: flex;


				&--currency {
					@include navText();
					@include fontSet(2.5rem, center, black);
					margin: 0rem .5rem auto auto;
				}

				&--cents {
					@include navText();
					font-weight: bold;
					@include fontSet(2.5rem, center, black);
					margin: 0rem auto auto .5rem;
				}

			}

			&__comments {
				@include navText();
				@include fontSet(1.8rem, center, $linkHover);
				padding: 4rem 3rem 3rem 3rem;
				background: #eee;
				font-weight: bold;
				position: relative;
				
				&--num {
					font-weight: bold;
					margin: 0rem .5rem;
				}

				&::before {
					content: "";
					background: url('../images/packageIcon.svg');
					background-size: cover;
					width: 5rem;
					height: 5rem;
					display: block;
					position: absolute;
					top: -2rem;
					left: 43%;
				}

			}

			&__list {
				list-style-type: none;
				padding: 0rem 3rem;
				background: $packageBg;
				margin: 0rem;

				&-item {
					@include Text();
					@include fontSet(1.4rem, center, black);
					padding: 1.5rem 2rem;
					border-bottom: 1px solid #E0E0E0;

				}
			}

			&__button {
				display: flex;
				padding: 2rem 3rem;
				width: 70%;
				margin: 3rem auto;
				border-radius: .5rem;
				background: $Decoration;
				text-decoration: none;
				position: relative;
				transition: all .5s ease;
				
				&:active {
					background: darken($Decoration, 5%);
				}

				&-text {
					@include navText();
					@include fontSet(1.5rem, center, #fff);
					letter-spacing: .2rem;
					text-transform: uppercase;
					width: calc(100% - 5rem);
					margin: auto;
				}

				&::before {
					@include pseudo();
					width: 3rem;
					height: 3rem;
					background: url('../images/buyIcon2.svg') no-repeat;
					background-size: cover;
					left: 1rem;
					top: 25%;
					z-index: 3;
				}

				&::after {
					@include pseudo();
					height: 100%;
					width: 6rem;
					top: 0rem;
					left: 0rem;
					border-radius: .5rem;
					background-color: darken($Decoration, 10%);
					transition: all .5s ease;
					
				}

				&:active.package__button:after {
					background-color: $Decoration;
				}
			}

		}

		// .hotPackage {
		// 	border: 3px solid $Decoration;
		// 	margin: 0rem;
		// 	box-shadow: 0 8px 8px 0 rgba(216, 224, 237, 0.5);
		// 	position: relative;

		// 	&:after {
		// 		@include pseudo(); 
		// 		top:0rem;
		// 		right: 0rem;
		// 		width: 0;
		// 		height: 0;
		// 		border-top: 50px solid $Decoration; 
		// 		border-left: 50px solid transparent;

		// 	}

		// 	&:before{
		// 		@include pseudo(); 
		// 		content: 'hot';
		// 		@include navText();
		// 		top:1rem;
		// 		right: 0rem;
		// 		z-index: 5;
		// 		text-transform: uppercase;
		// 		@include fontSet(1.3rem, center, #fff);
		// 		transform: rotate(50deg);
		// 	}

		// 	.package__name {
		// 		color: $Decoration;
		// 		font-weight: bold;
		// 		text-shadow: 1px 1px 1px darken($Decoration, 15%);
		// 	}

		// 	.package__button {
		// 		background: $Decoration;
		// 		transition: all .5s ease;

		// 		&:hover {
		// 			background: darken($Decoration, 5%);
		// 		}

		// 		&::after {
		// 			background-color: darken($Decoration, 10%);
		// 			transition: all .5s ease;
		// 		}

		// 		&:hover.hotButton::after {
		// 			background-color: #00B4B7;
		// 		}
		// 	}
		// }

		.salePackage {
			border: 3px solid $linkHover;
			margin: 1rem 0rem;
			box-shadow: 0 8px 8px 0 rgba(216, 224, 237, 0.5);
			position: relative;

			&:after {
				@include pseudo(); 
				top:0rem;
				right: -0.1rem;
				width: 0;
				height: 0;
				border-top: 50px solid $linkHover; 
				border-left: 50px solid transparent;

			}

			&:before{
				@include pseudo(); 
				content: 'sale';
				@include navText();
				top:1rem;
				right: 0rem;
				z-index: 5;
				text-transform: uppercase;
				@include fontSet(1.3rem, center, #fff);
				transform: rotate(50deg);
			}

			.package__name {
				color: $linkHover;
				font-weight: bold;
				text-shadow: 1px 1px 1px darken($linkHover, 15%);
			}

			.package__button {
				background: $linkHover;
				transition: all .5s ease;

				&:active {
					background: darken($linkHover, 5%);
				}

				&::after {
					background-color: darken($linkHover, 10%);
					transition: all .5s ease;
				}

				&:active.package__button::after {
					background-color: #D8004F;
				}
			}
		}
	}
}

/* -------------------- Mediaqueries -------------------- */


@media screen and (max-width: 320px) {
	.packages__wrapper {
		.packages__intro {
			&--text:first-child {
				display: flex;
				font-size: 1.5rem;
				width: 100%;
				margin: 1rem auto;
			}
			
			&--icon {
				display: block;
				width: 1rem;
				height: 1rem;
				background: url('../images/timeIcon.svg') no-repeat;
				background-size: contain;
				margin: 0rem 0.4rem;
				padding: .3rem;
			}

		}
	}
}

@media (min-width: 450px) and (max-width: 549px) {
	.packages__wrapper {
		.packages__intro {
			&--text:first-child {
				font-size: 1.6rem;
			}
		}

		.packages {
			.package {
				width: 80%;
				margin: 1rem auto;
			}
		}
	}
}

@media (min-width: 550px) and (max-width: 767px) {
	.packages__wrapper {
		padding: 0rem;
		.packages__intro {
			margin: 1rem auto;

			&--text,
			&--text:first-child {
				font-size: 1.7rem;
			}
		}
		.packages {
			padding: 1rem;
			flex-direction: row;
			flex-wrap: wrap;
			.package {
				width: 45%;
				margin: 1rem;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 951px) {
	.packages__wrapper {
		padding: 0rem;
		.packages__intro {
			margin: 1rem auto;

			&--text,
			&--text:first-child {
				font-size: 1.7rem;
			}

			&--icon {
				margin: 0rem .8rem;
				padding: .4rem;
			}
		}

		.packages {
			flex-direction: row;
			flex-wrap: wrap;
			.package {
				flex-basis: 45%;
				margin: 2rem 1rem;

				&__button {
					&:hover {
						background: darken($Decoration, 5%);
					}

					&:hover.package__button:after {
						background-color: $Decoration;
					}
				}
			}

			.salePackage {
				.package__button {
					&:hover {
						background: darken($linkHover, 5%);
					}

					&:hover.package__button::after {
						background-color: #D8004F;
					}
				}
			}
		}
	}
}


@media (min-width: 952px) and (max-width: 1120px) {
	.packages__wrapper {
		padding: 0rem;
		.packages__intro {
			margin: 1rem auto;

			&--text,
			&--text:first-child {
				font-size: 1.7rem;
			}

			&--icon {
				margin: 0rem .8rem;
				padding: .4rem;
			}
		}
		.packages {
			flex-direction: row;
			flex-wrap: wrap;
			.package {
				flex-basis: 30%;
				margin: 1rem;

				&__button {
					&:hover {
						background: darken($Decoration, 5%);
					}

					&:hover.package__button:after {
						background-color: $Decoration;
					}
				}
			}

			.salePackage {
				.package__button {
					&:hover {
						background: darken($linkHover, 5%);
					}

					&:hover.package__button::after {
						background-color: #D8004F;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1121px) {
	.packages__wrapper {
		padding: 0rem;
		.packages__intro {
			margin: 1rem auto;

			&--text,
			&--text:first-child {
				font-size: 1.7rem;
			}

			&--icon {
				margin: 0rem .8rem;
				padding: .4rem;
			}
		}
		.packages {
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 3rem 2rem;

			.package {
				margin: 2rem 0rem;
				width: calc(100% / 5);
				box-shadow: none;

				&__button {
					width: 70%;

					&:hover {
						background: darken($Decoration, 5%);
					}

					&:hover.package__button:after {
						background-color: $Decoration;
					}

					&-text {
						text-align: right;
					}
				}
			}

			.salePackage {
				margin: 0rem;
				box-shadow: 0 8px 8px 0 rgba(216, 224, 237, 0.5);
					.package__button {
						&:hover {
							background: darken($linkHover, 5%);
						}

						&:hover.package__button::after {
							background-color: #D8004F;
						}
					}
			}
		}
	}
}